mixin icon(name,cls)
  svg(class=cls)
    use(xlink:href="#" + name)

//+checkbox('Выбрать пункт 1',"checked",'disable')
mixin checkbox(text,checked,disable)
  .check-el
    label.style-label.style-label--checkbox(class = disable === 'disable' ? 'style-label--disable' : '')
      input(type="checkbox" checked=checked === "checked" ? checked : false).style-input
      .style-input-element
        +icon("checked","icon")
      .style-input-text=text

//+radio('Выбрать пункт 1',"list","true",'disable')
mixin radio(text,group,checked,disable)
  .check-el
    label.style-label.style-label--radio(class = disable === 'disable' ? 'style-label--disable' : '')
      input(type="radio" name=group checked=checked).style-input
      .style-input-element
        .icon-radio
      .style-input-text=text

mixin incr(state,className='')
  .incr(class= state ? className  +' incr--one' : className )
    .incr__minus.incr__nav
      +icon("minus","icon")
    .incr__val
      span=state ? 1 : 0
      .incr__val-coner
    .incr__plus.incr__nav
      +icon("plus","icon")

mixin item(i,type)
  .program-el
    .program-el__img(style="background-image:url('img/item-1.jpg')")
    .program-el-wrap
      .program-el__content
        .program-el__title Смузи боул с яблоком, корицей и гранола
        .program-el__text Филе куриное, лук, яйцо, специи, гречка зеленая, соус сливочный, грецкие орехи, сливочно-ореховый соус
      .program-el__footer
        .type--sm.type--secondary первый завтрак
        .type--sm.type--secondary 106 Ккал


mixin programList(program)
  .program-list-container
    .program-list
      - for (var i=0;i<4;i++)
        +item(1)
